.signup2-container {
    display: flex;
    height: 100vh;
  }
  .left-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
  }
  .left-section {
    background-color: #e0f7f4;
    text-align: center;
  }
  
  .left-section img {
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
  }
  
  .left-section h2 {
    margin: 20px 0 10px;
  }
  
  .left-section p {
    margin-bottom: 20px;
  }
  .dots {
    display: flex;
    justify-content: center;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
  .dot.active {
    background-color: #717171;
  }

  .right-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .right-section h1{
    display: flex;
    align-self: flex-start;
   }
    .text{
    display: flex;
    align-self: flex-start;
    margin: 0;
    padding: 0;
   }
   .register-input2{
    width: 30%;
    margin-bottom: 1rem ;
  }
  .right-section h2{
    display: flex;
    align-self: flex-start;
    margin-bottom: 10px;
   }
   .education{
    width: 583px;
    display: flex;
    align-self: flex-start;
   }
   .year{
    display: flex;
    align-self: flex-start;
    margin-bottom: 1rem; 
   }
   .year-1{
    flex: 1;
    
   
   }
   .btn-1 {
    width: 50%;
    border-radius: 20px;
   
    
  }

  .para {
    display: flex;
    font-size: 12px;
    color: rgb(47, 0, 255);
    font-weight: 100;
  }
  .para a {
    text-decoration: none;
  }
  .hidden {
    width: 100%;
  }